.taskBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid green;
  border-radius: 8px;
  cursor: grab;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.CustomBtn {
  padding: 3px;
  border-radius: 0.5rem;
  border: 2px dashed black;
}

.CustomBtn:hover {
  box-shadow: 3px 3px 3px gray;
}
.CustomBtn:active {
  box-shadow: 1px 1px 3px rgb(105, 105, 105);
  transform: scale(0.999);
}