@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
}

a {
  color: black;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
