@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.updateFormBox {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.updateForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.updateForm label {
  display: flex;
  justify-content: space-between;
}

.updateForm input,
.updateForm textarea {
  min-width: 25vw;
  resize: vertical;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  padding: 0;
}

.descriptionField {
  height: 5rem;
}

.CustomBtn,
.selectFileInputLabel {
  padding: 3px;
  border-radius: 0.5rem;
  border: 2px dashed black;
}

.CustomBtn:hover {
  box-shadow: 3px 3px 3px gray;
}

.CustomBtn:active {
  box-shadow: 1px 1px 3px rgb(105, 105, 105);
  transform: scale(0.999);
}

.uploadControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .selectFileInput {
  visibility: hidden;
} */

.selectFileInputLabel {
  height: 45px;
  transition: 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

input #file-upload-button {
  display: none;
}

.listTitle {
  margin: 0;
}

.listBoxes {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: #f2fdfb;
  padding: 0.8rem 0;
}